.page {
        max-width: 1300em;
        height: 100vh;
        display: flex;
        align-items: center;
        margin: 0;
        
    }

    body::before {
        display: none;
    }

    header {
       width: 20vw;
       height: 100vh;
        background-color: var(--hd-primary);
    }

    .gallery {
        display: grid;
        width: 80vw;
        height: auto;
        gap: 2rem;
        padding: 1rem;
        justify-content: center;
        align-items: center;
       
       
        grid-template-areas: "A B F"
                             "D B E"
                             "D C E";
    }

    .gallery div:nth-child(1) {
        grid-area: A;
    }

    .gallery div:nth-child(2) {
        grid-area: B;
    }

    .gallery div:nth-child(3) {
        grid-area: C;
    }

    .gallery div:nth-child(4) {
        grid-area: D;
    }

    .gallery div:nth-child(5) {
        grid-area: E;
    }

    .gallery div:nth-child(6) {
        grid-area: F;
    }

    

}
